@import url("https://fonts.googleapis.com/css2?family=Inter:wght@400;500;600&display=swap");

.dashboard-container {
  background-color: #1a1a1a;
  display: flex;
  flex-direction: row;
  min-height: 100vh;
} /* Main content */

.dashboard-content {
  display: flex;
  flex-direction: column;
  margin-left: 30px;
  margin-top: 30px;
  width: 100%;
} /* Headings */

.dashboard-heading {
  color: #ffffff;
  font-size: 32px;
  margin: 0;
}

.dashboard-subheading {
  font-family: "Inter", sans-serif;
  color: #b0b0b0;
  font-size: 20px;
  margin: 10px 0 0 0;
}

.start-session-button {
  position: absolute;
  top: 32px;
  right: 40px;
}

.btn-start-session {
  display: flex;
  align-items: center;
  gap: 10px;
  background: #7bc6bc; /* exact teal */
  color: #1a1a1a;
  border: none;
  outline: none;
  padding: 12px 22px;
  border-radius: 10px;
  font-size: 15px;
  font-weight: 600;
  cursor: pointer;
  transition: all 0.2s ease;
}

/* + icon */
.btn-start-session .plus {
  font-size: 18px;
  font-weight: 700;
}

/* Hover effect */
.btn-start-session:hover {
  background: #6ab5ab;
  transform: translateY(-1px);
}

/* Active (click) */
.btn-start-session:active {
  transform: scale(0.97);
}

.stats-cards {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 20px;
  margin-top: 30px;
  width: 95%;
} /* Individual card */

.stats-card {
  background-color: #212121;
  border-radius: 12px;
  padding: 16px;
  height: 160px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  position: relative;
} /* Text styles */

.stats-heading {
  color: #a2b0b0;
  font-size: 24px;
  margin: 0 0 6px 0;
  margin-left: 20px;
}

.stats-subheading {
  color: #e3e3e3;
  font-size: 36px;
  margin-top: 8px;
  margin-left: 20px;
}

.stats-para {
  color: #a2b0a7;
  font-size: 14px;
  margin-top: 4px;
  margin-left: 20px;
}

.stats-icon {
  position: absolute;
  top: 20px;
  right: 20px;
}

.icon-dashboard {
  font-size: 20px;
  color: #6ee7b7;
}

.session-viewer-box {
  background-color: #212121;
  border-radius: 12px;
  padding: 20px;
  margin-top: 30px;
  width: 92%;
}
.session-viewer-heading {
  color: #e3e3e3;
  font-size: 24px;
  gap: 10px;
  margin: 0 0 6px 0;
  margin-left: 10px;
}
.session-viewer-icon {
  font-size: 24px;
  color: #6ee7b7;
  margin-right: 12px;
}
.view-seesion-box{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    color: #696969;
}
.view-seesion-icon{
    font-size: 60px
}

.view-seesion-heading{
    font-size: 20px;
}